.impact__header {
  text-transform: uppercase;
  color: var(--logo-navy);
  position: relative;
  font-size: 2.5rem;
  font-weight: bold;
  font-family: "Barlow Semi Condensed", Montserrat, Arial, sans-serif;
}

.impact__header-bg {
  height: 30px;
  max-width: 550px;
  position: relative;
  z-index: -1;
  margin: -1rem;
  background: var(--logo-orange);
  top: -20px;
  left: 45px;
}

.impact__img {
  max-height: 200px;
  margin: 0 1rem;
}

.impact__inner {
  margin-top: 1.5rem;
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.impact__part {
  font-weight: bold;
  max-width: 300px;
  max-height: 300px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.impact__slash {
  margin: auto 2rem;
  max-height: 200px;
  align-self: center;
}

@media (max-width: 767px) {
  .impact__header {
    font-size: 2rem;
    margin-bottom: 1rem;
  }

  .impact__header-bg {
    height: 22px;
    width: calc(100% - 22px);
    top: -22px;
  }

  .impact__img {
    max-height: 125px;
  }

  .impact__slash {
    max-height: 150px;
  }
}

@media (max-width: 576px) {
  .impact__header-bg {
    width: calc(100% - 22px);
    max-width: 100%;
  }

  .impact__slash {
    display: none;
  }

  .impact__inner {
    flex-direction: column;
  }

  .impact__img {
    max-width: 100%;
  }
}
