.what {
  display: flex;
}

.what__picture {
  max-width: 300px;
  max-height: 300px;
  margin: 0 1rem;
  object-fit: cover;
}

.what__header {
  text-transform: uppercase;
  color: var(--logo-navy);
  position: relative;
  font-size: 2.5rem;
  font-weight: bold;
  font-family: "Barlow Semi Condensed", Montserrat, Arial, sans-serif;
}

.what__header-bg {
  height: 30px;
  width: 250px;
  position: relative;
  z-index: -1;
  margin: -1rem;
  background: var(--logo-orange);
  top: -20px;
  left: 45px;
}

@media (max-width: 767px) {
  .what__picture {
    max-width: 200px;
  }

  .what__header {
    font-size: 2rem;
    margin-bottom: 1rem;
  }

  .what__header-bg {
    height: 22px;
    width: 175px;
    top: -22px;
  }
}
