.yearlyBannerContainer {
  width: 100%;
  /* border: solid; */
  display: flex;
  justify-content: flex-end;
}



.yearly-banner-component li {
  padding: 1rem;
  cursor: pointer;
  list-style: none;
}

.yearly-banner-component {
  background: rgb(146, 146, 172);
  display: flex;
  flex-flow: row;
  justify-content: flex-end;
  height: 55px;
  width: 354px;
}

.yearly-banner-component::before {
  border-bottom: 30px solid transparent;
  border-right: 30px solid rgb(165, 165, 184);
  border-top: 25px solid transparent;
  content: "";
  height: 0;
  left: -100px;
  /* position: absolute; */
  top: 0;
  width: 0;
}

.yearlyBanner-years li:hover{
  color: pink;
}

.yearlyBanner-years li:active{
  color: purple;
}

