.individualStories__container {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

.individualStories__navbar {
  text-align: center;
  font-size: 35px;
  text-transform: uppercase;
  background-color: blue;
}

.individualStories__navlist {
  padding-left: 200px;
  text-decoration: none;
  color: white;
}

.individualStories__innerContent {
  display: flex;
  flex-direction: row;
  height: 100vh;
}

.individualStories_studentPicture {
    display: block;
    margin: 20px;
  }
  
.individualStories__nameDetailsBox{
    margin: 20px;
}