.photoBubbles {
  border-radius: 50%;
  cursor: pointer;
}

.photoBubbles__bubbleContainer {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  background-color: var(--banner-color);
  border-radius: 5px;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 3rem;
}

.photoBubbles:hover {
  filter: grayscale(100%);
}

.photoBubbles__overlap {
  position: fixed;
}

.hidden {
  opacity: 0;
  position: absolute;
  transition: 0.5s ease;
  display: flex;
  flex-flow: column wrap;
  color: white;
  border: red solid;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.photoBubbles:hover + .hidden {
  opacity: 1;
}
