.contactNform__container {
  margin-top: 40px;
}

.contact__regionAccordions {
  display: flex;
  flex-flow: row wrap;
}

.contact_formContainer {
  display: flex;
  justify-content: center;
}

#contact__contactInfo {
  width: 100%;
  padding: 1rem;
  margin-top: 0.05rem;
  border-radius: 1%;
}

.contact__worksite {
  font-style: italic;
  text-transform: uppercase;
}

.contact__nameAndEmail {
  font-weight: bold;
}

.contact__phoneNumber {
  font-weight: lighter;
  font-style: italic;
}

.contact__contactInfo div {
  display: flex;
  flex-flow: column wrap;
  width: 100%;
}

.placeholder {
  height: 2px;
  margin: 1rem;
  flex: 1 0 400px;
}
