.motto__banner {
  background-color: var(--logo-orange);
  width: 100vw;
  display: flex;
  justify-content: center;
}

.motto__text {
  max-width: 60%;
  text-align: left;
  font-size: 3rem;
  font-weight: 600;
  text-transform: uppercase;
  font-family: 'Barlow Semi Condensed', Montserrat, Arial, sans-serif;
  color: var(--logo-navy);
  z-index: 2;
  position: relative;
}

.motto__bg {
  height: 33px;
  width: 280px;
  background-color: white;
  position: relative;
  top: -1.3rem;
  left: 14%;
  z-index: -1;
  margin: -1.5rem;
}

.motto__bg:nth-of-type(2) {
  left: 22%;
}