.motto__banner {
  background-color: var(--logo-orange);
  width: 100vw;
  display: flex;
  justify-content: center;
}

.motto__text {
  position: relative;
  z-index: 2;
  max-width: 60%;
  /* top: -15px; */
  text-align: left;
  font-size: 3.5rem;
  font-weight: 600;
  text-transform: uppercase;
  font-family: 'Barlow Semi Condensed', Montserrat, Arial, sans-serif;
  color: var(--logo-navy);
}

.motto__bg {
  height: 33px;
  width: 280px;
  background-color: white;
  position: relative;
  top: -1.3rem;
  left: 14%;
  z-index: -1;
  margin: -1.5rem;
}

.motto__bg:nth-of-type(2) {
  left: 22%;
}

@media (max-width: 767px) {
  .motto__text {
    font-size: 3rem;
  }

  .motto__bg {
    width: calc(100% - 15px);
    height: 25px;
    top: -1rem;
  }
}

@media (max-width: 576px) {
  .motto__text {
    font-size: 2rem;
    line-height: 3.5rem;
    white-space: nowrap;
  }

  .motto__bg {
    width: calc(100% - 25px);
    max-width: 100vw;
    height: 19px;
    top: -0.6rem;
    left: 17%;
  }
}

@media (max-width: 290px) {
  .motto__text {
    font-size: 1.5rem;
  }

  .motto__bg {
    height: 14px;
    width: calc(100% - 16px);
    top: -0.3rem;
    left: 20%;
  }
}