.navbar {
  background-color: var(--text-color-deco);
  text-transform: uppercase;
}

.navbar a:hover, .navbar a:focus {
  text-decoration: none;
}

.navbar__items {
  color: white;
}

.navbar__link {
  color: white;
  font-weight: 900;
}

.navbar .nav-tabs {
  border-color: transparent;
}

.navbar .nav-tabs .nav-link:hover, .navbar .nav-tabs .nav-link:focus {
  border: 1px solid transparent;
  border-bottom: 1px solid #bebebe;
}

.navbar__link:hover, .navbar__link:focus {
  color: #bebebe;
}

a.dropdown-item:hover, a.dropdown-item:focus, button.dropdown-item:hover, button.dropdown-item:focus {
  background-color: #17b6eb57;
}

