.region__copyContainer {
  width: 100%;

  height: 20rem;
  display: flex;
  margin-top: 1rem;
  margin-bottom: 1rem;
  background-color: var(--logo-orange);
  padding: 1rem;
  border-radius: 10px;
  align-items: space;
  justify-content: space-between;
}

.keepRight {
  flex-flow: row-reverse;
  margin-right: 1rem;
}

.region__image {
  height: 100%;
  object-fit: contain;

  overflow: hidden;
}
video.region__image {
  height: 100%;
  object-fit: scale-down;
}
.region__imageContainer {
  display: flex;
  height: 100%;
  width: fit-content;

  max-width: 40%;
  object-fit: cover;
}

.region__copy {
  font-size: clamp(0.01rem, 5vw, 1rem);
  flex-flow: column wrap;

  height: 100%;
  position: relative;
  margin-left: 1rem;
  color: white;
  justify-content: space-between;
  scrollbar-color: #8b5509a4 var(--sidebar-orange);
  text-align: left;
  overflow-y: scroll;
  padding-left: 0.4rem;
  padding-right: 0.4rem;
}
div ::-webkit-scrollbar {
  background-color: #8b5509a4 var(--sidebar-orange);
}

div ::-webkit-scrollbar-thumb {
  background-color: #8b5509a4;
}
.addMarginRight {
  margin-right: 1rem;
  margin-left: 0rem;
}

/* image container */
.keepRight {
  justify-content: flex-end;
}
@media screen and (max-width: 800px) {
  .region__imageContainer {
    max-width: 40%;
    height: 40%;
    position: relative;
    float: left;
    object-fit: cover;
    margin-left: 0.5rem;
  }

  .region__copy {
    display: flex;
    flex-flow: column;
    margin-left: 0;
  }
  .region__copyContainer {
    display: flex;
    flex-flow: column;
    height: 24rem;
  }
  h6 {
    /* position: absolute; */
    text-align: right;
    display: flex;
    /* border-style: solid; */
    width: 100%;
    margin-right: 0.2rem;
    /* justify-content: flex-end; */
  }
}
change {
  opacity: 1;
}
/* change */
