.regionBanner__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--banner-color);
  width: 100%;
  height: fit-content;
  padding: 1rem;
}

.regionBanner__regionName {
  text-align: center;
  font-size: clamp(1rem, -0.875rem + 8.333vw, 4.5rem);
  font-weight: bold;
  text-transform: uppercase;
  color: var(--text-color-deco);
}

.regionBanner__rect {
  height: 33px;
  width: 280px;
  background-color: white;
  /* position: relative;
  top: -1.3rem;
  left: 14%;
  z-index: -1;
  margin: -1.5rem; */
}