.pageDivider__container { 
  display: flex;
  align-items: center;
  justify-content: center;
  height: fit-content;
  width: 100vw;
}

.pageDivider__left, .pageDivider__right {
  /* background-color: blue; */
  height: 2rem;
  border-top: 1rem solid var(--navy);
  border-bottom: 1rem solid var(--navy);
}

.pageDivider__left {
  flex: 2;
  border-right: 1rem solid transparent;
  border-left: 2rem solid var(--navy);
}

.pageDivider__right {
  flex: 1;
  border-right: 2rem solid var(--navy);
  border-left: 1rem solid transparent;
}

.pageDivider__text {
  height: 2rem;
  background-color: white;
  font-size: 1rem;
  text-transform: uppercase;
  line-height: 2rem;
  vertical-align: middle;
}