.footer {
  background-image: linear-gradient(to bottom right, #1DBBF1 20%, #213D88);
  color: white;
  padding: 1rem 2rem;
}

.footer__columns {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__info {
  color: white;
  letter-spacing: 0.025rem;
  font-size: 1rem;
}

.footer__info p {
  vertical-align: middle;
  margin-bottom: 0;
  margin-right: 1.2rem;
  display: inline-block;
}

.footer__social {
  display: flex;
}

.footer__social .social-bg {
  border-radius: 50%;
  height: 38px;
  width: 38px;
  margin: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25);
}

.footer__social .twitter {
  background-color: #1DA1F2;
}

.footer__social .linkedin {
  background-color: #0e76a8;
}

.footer__social .facebook {
  background-color: #3b5998;
}

.footer__social .instagram {
  background-color: #833AB4;
}