.footer-container{
    display: flex;
    justify-content: space-around;
    
  }
  .color{
    background: #222222;
  }
  h4{
  color: #f9f4f4;
  font-family: 'Roboto', sans-serif;
  }
  p{
    color: #c4b6b6;
    font-family: 'Roboto', sans-serif;
  }