.mappy {
  display: flex;
  grid-template-columns: 20% 85%;
  width: 100%;
  justify-content: center;
  position: relative;
}
@media screen and (max-width: 900px) {
  .mappy {
    grid-template-columns: 1fr;
    display: flex;
    flex-flow: column;
    width: 100%;
    justify-content: center;
    align-items: center;
  }

  .map__regionNames {
    max-width: 90%;
  }
  #container {
    display: none;
  }
}
.map__regionNames {
  justify-self: flex-start;
  background-color: var(--sidebar-orange);

  width: 100%;
  flex-basis: 20%;
  display: flex;

  flex-flow: column;

  justify-content: center;
  align-items: center;
}

.map__regionNames__dropdown {
  align-self: center;
  height: 100%;
  justify-self: flex-start;

  color: white;
  width: 100%;

  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.map__regionName {
  font-size: 1.1rem;
  width: 100%;

  margin-bottom: 0;
  max-width: 100%;
  background-color: none;
}

#map__regionNameLinks {
  color: white;
  width: 100%;
  text-decoration: underline 1pt;
  text-decoration: none;
  margin-bottom: 0;
  width: 100%;
  overflow-x: visible;
  position: relative;
  text-align: left;
  padding-left: 1.5rem;
  font-size: 80%;
}
#map__regionNameLinks div {
  overflow-y: visible;
  width: 100%;
}
#map__regionNameLinks:hover {
  text-decoration: underline 0.5pt;
}

.regionMappy {
  width: 100%;
  height: 100%;
}
.map__regionNames div {
  background-color: var(--sidebar-orange);
  color: white;

  max-width: 100%;
}
.map__regionNames span {
  color: white;

  width: 100%;
}
.MuiIconButton-label {
  background-color: none;
  font-size: 100%;
  margin: 0px;
  max-width: 100%;
  opacity: 0.8;
  position: relative;
}
.MuiButtonBase-root {
  overflow: hidden;
}
.MuiCollapse-wrapper {
  margin: 0;

  width: 100%;
}
.MuiTouchRipple-root {
  box-shadow: 0;
  margin: 0;
  background-color: none;
  max-width: 100%;
  position: relative;
  width: 100%;
}
.MuiCollapse-root {
  width: 100%;
  overflow: hidden;
  padding-left: 1rem;
}
