:root {
  /* yearly banner variables */
  --year-nav-pointed-arrow: var(--banner-color);
  --year-nav-drop-shadow: rgb(38, 122, 174);

  /* link interaction colors */
  --link-hover: rgb(127, 127, 206);
  --link-active: rgb(35, 159, 74);

  /* footer social link variables */
  --facebook: rgb(59, 89, 152);
  --twitter: rgb(29, 161, 242);
  --google: rgb(15, 157, 88);
  --youtube: rgb(255, 0, 0);

  /* map section regions */
  --north: #f9f22b;
  --capital: #1deab9;
  --mid-hudson: #2d8eff;
  --nyc: #ffca29;
  --long-island: #c152f3;
  --mohawk-valley: #ff544e;
  --southern: #5cee29;
  --finger-lakes: #fa446c;
  --western: #2dddff;
  --central: #9488ff;
  /* --#fa446c */
}